<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195705933164-m6hi5sjs1nftj8ij92ui1lddua23mn9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195705933164-m6hi5sjs1nftj8ij92ui1lddua23mn9s</string>
	<key>API_KEY</key>
	<string>AIzaSyDSNW27BtZHWsS_dQRZc8n6IfMobcq8j4w</string>
	<key>GCM_SENDER_ID</key>
	<string>195705933164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.verblike.waterApp</string>
	<key>PROJECT_ID</key>
	<string>waterapp-ccb86</string>
	<key>STORAGE_BUCKET</key>
	<string>waterapp-ccb86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195705933164:ios:f64f8ba7b9ddabecbcb749</string>
</dict>
</plist>